<% 10.times do %>
<% @posts.each do |post| %>
	<div class="post_wrapper">
		<div class="post_title">
			<h2><%= post.title %></h2>
		</div>
		<div class="post_info">
			<p class="when_posted"><%= post.created_at.strftime("%B, %d, %Y")%></p>
			<p class="tags">Tags: <span class="label label-default">HTML5</span> <span class="label label-default">CSS3</span> <span class="label label-default">Ruby on Rails</span> <span class="label label-default">Bootstrap</span> <span class="label label-default">jQuery</span></p>
		</div>
		<div class="post_preview">
			<p><%= post.body.to_s[0,150]+" (...)" %></p>
		</div>
		<div class="post_footer clearfix">
			<div class="buttons">
			  <%= link_to '<button class="btn btn-default pull-left">Read More</button>'.html_safe, post %>
			</div>
			<div class="comments_count">
				<a href="#" class="pull-right"><i class="fa fa-commenting-o" aria-hidden="true"></i><%= post.comments.count %></a>
			</div>
		</div> <!-- /post_footer -->
	</div> <!-- /post_wrapper -->
<% end %>
<% end %>
