<div id="post_content">
	<h1><%= @post.title %></h1>
	<p class="date">
		<i>Submitted <%= time_ago_in_words(@post.created_at) %> Ago</i>
		 
		<% if can? :update, @post %>
			<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default sides-1" %>
		<% end %>
		
		<% if can? :destroy, @post %>
			<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default sides-1" %>
		<% end %>
	</p>
	<p class="body">
		<%= @post.body %>
	</p>
	<hr>

	<h4 class="pull-right"><%= @post.comments.count %> <i class="fa fa-commenting-o" aria-hidden="true"></i></h4>

	<div id="comments">
		<%= render @post.comments %>
	</div>
	<hr>
	<div id="leave_comment">
		<h3>Leave a comment:</h3>
		<%= render 'comments/form' %>
	</div>

</div>