<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' , 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- <% if !user_signed_in? %>
		<% if User.count==0 %>
			<p class="sign_in"><%= link_to "Create admin", sign_up_path %></p>
		<% else %>
			<p class="sign_in"><%= link_to "Admin login", login_path %></p>
		<% end %>
	<% else %>
		<p class="sign_in"><%= link_to "logout", logout_path %></p>
	<% end %>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class:"alert") %>
	<% end %> -->

	<%= yield %>

</body>
</html>
